<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>
  <body bgcolor="#EFEFEF" text="#333333" link="#FF6600" alink="#FF9933" vlink="#CC3300">
    <center>
      <table width="80%" border="1" cellpadding="20" cellspacing="0" bgcolor="#FFFFFF" bordercolor="#CCCCCC">
        <tr>
          <td align="center" valign="middle">
            <font face="Arial, Helvetica, sans-serif" size="6" color="#FF6600">
              Hola Mundo
            </font>
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>